@import "simonvic/glass/reversed"

window {
	width: 1600px;
}

listview {
	columns: 4;
	fixed-columns: false;
	lines: 1;
	flow: horizontal;
}

element {
	background-color: @element-background;
	orientation: vertical;
	size: inherit;
}

element-icon {
	horizontal-align: 0.5;
	vertical-align: 0.5;
	size: 256px;
}

element-text {
	expand: true;
	vertical-align: 1;
}
